/* apply font to the page */
body{
    font-family: "Exo 2", system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial, sans-serif;
    line-height:1.4;
    background:#7ad9ff;
    color:#222;
}

.site-header{
    border:6px solid #000000;
    margin:12px;
    padding:8px 12px;
    text-align:center;
    font-weight:700;
    font-size:clamp(24px,5vw,48px);
}